# Data Wrangling Exercises

In [2]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import os

In [3]:
path = r'C:\Users\Megan\Documents\CareerFoundry\Unit 4\InstaCart Python Project'

In [4]:
# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
# Import products.csv 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
# Drop eval_set column
df_ords = df_ords.drop(columns = ['eval_set'])

In [8]:
# Rename column 
df_ords.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [9]:
# Change data type for order_id column
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [10]:
# Import departments.csv 
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [11]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [12]:
# Save transposed df
df_dep_t = df_dep.T

In [13]:
df_dep_t.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [14]:
# Reset index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [15]:
# Create new header 
new_header = df_dep_t.iloc[0]

In [16]:
new_header

0    department
Name: department_id, dtype: object

In [48]:
df_dep_t_new = df_dep_t[1:]

In [18]:
df_dep_t_new.head()

         0
1   frozen
2    other
3   bakery
4  produce
5  alcohol

In [49]:
# Copy table data under new header
df_dep_t_new.columns = new_header

In [20]:
df_dep_t_new.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [21]:
# Create data dictionary for 'department'
data_dict = df_dep_t_new.to_dict('index')

In [22]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [23]:
# Return department name for department_id 19
print(data_dict.get('19'))

{'department': 'snacks'}

In [24]:
# Create df for snacks
df_snacks = df_prods[df_prods['department_id']==19]

In [26]:
df_snacks_2 = df_prods.loc[df_prods['department_id']==19]

In [27]:
df_snacks_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [28]:
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([17,18,19])]

# Task 4.4

In [29]:
# 02. Find unnecessary identifier in df_ords and change the format 
df_ords['order_number'] = df_ords['order_number'].astype('str')

In [30]:
df_ords.describe()

,user_id,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,6.000000e+00,2.300000e+01,3.000000e+01

In [31]:
# 03. Rename column in df_ords
df_ords.rename(columns = {'order_hour_of_day' : 'order_hour'}, inplace = True)

In [32]:
# 04. Find the busiest hour for placing orders
# The busiest hour for placing orders is at 13:00h, or 1:00pm
df_ords.describe()

            user_id  order_day_of_week    order_hour  days_since_prior_order
count  3.421083e+06       3.421083e+06  3.421083e+06            3.214874e+06
mean   1.029782e+05       2.776219e+00  1.345202e+01            1.111484e+01
std    5.953372e+04       2.046829e+00  4.226088e+00            9.206737e+00
min    1.000000e+00       0.000000e+00  0.000000e+00            0.000000e+00
25%    5.139400e+04       1.000000e+00  1.000000e+01            4.000000e+00
50%    1.026890e+05       3.000000e+00  1.300000e+01            7.000000e+00
75%    1.543850e+05       5.000000e+00  1.600000e+01            1.500000e+01
max    2.062090e+05       6.000000e+00  2.300000e+01            3.000000e+01

In [33]:
# 05. Determine the meaning behind a value of 4 in the department_id column 
print(data_dict.get('4'))

{'department': 'produce'}

In [34]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [38]:
# 06. Create a subset creating only breaksfast items
df_bkfst = df_prods.loc[df_prods['department_id']==14]

In [37]:
df_bkfst.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [39]:
# Create subset for dinner parties, including: alcohol, deli, beverages, and meat/seafood. 
df_dinner = df_prods.loc[df_prods['department_id'].isin([5,20,12,7])]

In [40]:
df_dinner.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [42]:
# 08. How many rows does the last dataframe you created have? 
# It has 7,650 rows
df_dinner.shape

(7650, 5)

In [43]:
# 09. Extract information from user_id number 1 
df_user_1 = df_ords.loc[df_ords['user_id']==1]

In [44]:
df_user_1.head()

,order_id,user_id,order_number,order_day_of_week,order_hour,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [47]:
# 10. User_id 1 usually orders on Tuesdays and most commonly at 8:00am, but always between 7am and 4pm. They usually order about every 19 days.
df_user_1.describe()

       user_id  order_day_of_week  order_hour  days_since_prior_order
count     11.0          11.000000   11.000000               10.000000
mean       1.0           2.636364   10.090909               19.000000
std        0.0           1.286291    3.477198                9.030811
min        1.0           1.000000    7.000000                0.000000
25%        1.0           1.500000    7.500000               14.250000
50%        1.0           3.000000    8.000000               19.500000
75%        1.0           4.000000   13.000000               26.250000
max        1.0           4.000000   16.000000               30.000000

In [53]:
# 12. Export df_ords 
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [55]:
# 13. Export df_dep_t_new 
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))